/* ===== GLOBAL ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:black;
    color:white;
}



/* ===== BACKGROUND ===== */

.omega-bg{
    position:fixed;
    width:100%;
    height:100%;
    background: radial-gradient(circle at center,#001a2c,#000);
    z-index:-1;
}



/* ===== HEADER ===== */

header{
    position:fixed;
    top:0;
    width:100%;
    padding:20px;
    display:flex;
    justify-content:center;
    background:rgba(0,0,0,0.4);
    backdrop-filter:blur(10px);
}

nav a{
    color:white;
    margin:0 20px;
    text-decoration:none;
    font-weight:bold;
    transition:0.3s;
}

nav a:hover{
    color:cyan;
}



/* ===== LANDING ===== */

.landing{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.landing-content{
    display:flex;
    gap:80px;
    align-items:center;
}

.landing-text h1{
    font-size:55px;
    color:cyan;
}

.landing-text p{
    margin-top:10px;
    opacity:0.7;
}



/* ===== PHOTO ===== */

.landing-image img{
    width:250px;
    border-radius:50%;
    border:3px solid cyan;
    box-shadow:0 0 40px cyan;
}



/* ===== SECTION STYLE ===== */

.section-card{
    margin:120px 15%;
    padding:40px;
    background:rgba(0,0,0,0.6);
    border:1px solid cyan;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,255,255,0.3);
}

.section-card h2{
    color:cyan;
    margin-bottom:20px;
}



/* ===== SKILLS ===== */

.skill-grid{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.skill-box{
    padding:15px 30px;
    border:1px solid cyan;
    border-radius:30px;
    transition:0.3s;
}

.skill-box:hover{
    background:cyan;
    color:black;
}



/* ===== PROJECTS ===== */

.project-grid{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.project-box{
    padding:20px;
    border:1px solid cyan;
    border-radius:10px;
    width:260px;
    transition:0.3s;
}

.project-box:hover{
    transform:translateY(-5px);
    box-shadow:0 0 20px cyan;
}
